# a .gitignore file specifies intentionally untracked files that git should ignore
# files already tracked by git are not affected
#
# git-scm.com/docs/gitignore

# general
.DS_Store
.AppleDouble
.LSOverride

# icon must end with two \r
Icon

# thumbnails
._*

# files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
