#==========================================================#
# @.gitattributes
#  a .gitattributes file defines attributes per path
#  that should be used by git when performing git actions
#
# @git-scm.com/docs/gitattributes
#==========================================================#

#==========================================================#
# automatic end-of-line conversion for all files

* text=auto
